3 frequently used data types:<br />

1.list<br />

2.dictionary<br />

3.DataFrame<br />

In [1]:
import pandas as pd

In [2]:
#Create a DataFrame from a dictionary of lists
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'],
'year': [2000, 2001, 2002, 2001, 2002],
'pop': [1.5, 1.7, 3.6, 2.4, 2.9]}
df = pd.DataFrame(data)
print (df)

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9

In [7]:
#Create a DataFrame from a nested list
state=['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada']
year=[2000, 2001, 2002, 2001, 2002]
pop=[1.5, 1.7, 3.6, 2.4, 2.9]
data1 = [state, year, pop]
df1 = pd.DataFrame(data1).T  #transpose
print (df1)

        0     1    2
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9

In [9]:
#pandas.read_csv
df = pd.read_csv("GMO dataset.csv")
print (df.head())

      weibo_id                           用户地址        昵称 性别  地域    粉丝数  微博数  \
0  M_FCp8SbTvT  https://weibo.cn/u/3892115560  遇见最最最美的你  男  北京   1200   25
1  M_FCp88bd6m  https://weibo.cn/u/2286141320     姐反转咋的  女  其他  18678  374
2  M_FCp7Q7H9v  https://weibo.cn/u/2177833830     小行星语林  男  河北  17852  137
3  M_FCp5YgHkP  https://weibo.cn/u/2177833830     小行星语林  男  河北  17852  137
4  M_FCp5QfVls  https://weibo.cn/u/5545139597     秦岭山如画  男  澳门   8077  359

    关注数                                               div1  \
0   180  遇见最最最美的你:我免费围观了 @黄章晋ster 的回答，问题价值 200.00 元，快来一...
1  3287  姐反转咋的?转发了?jrry89?的微博:转基因公司正在利用基因编辑技术开发农作物试图规避监...
2   129  小行星语林:发表了博文《【转】科普贴：抗虫转基因作物有多毒？》科普贴：抗虫转基因作物有多毒？...
3   129  小行星语林:发表了一篇转载博文《[转载]作家静渊:血淋淋的死亡事件揭穿了转基因不用农药的弥天...
4  1151  秦岭山如画?转发了?情迷意恋?的微博:袁隆平眼中的转基因 情迷意恋的秒拍视频 ??赞[55]...

                                                div2  \
0                                                NaN
1  转发理由:这种“攻击”是该多晒晒。[嘻嘻]//@多多d617: 晒！//@陈一文顾问 诚请@...
2                                                NaN
3                                                NaN
4  转发理由:外国资本利益集团看家护院的打手，美国人正眼都不看它们一眼的[嘻嘻][握手]//@毛...

                         ...                          点赞数            时间  \
0                        ...                            0  01月01日 23:59
1                        ...                            1  01月01日 23:57
2                        ...                            0  01月01日 23:56
3                        ...                            0  01月01日 23:52
4                        ...                            0  01月01日 23:51

             来源  是否转发     原昵称  \
0  微博 weibo.com     0     NaN
1  微博 weibo.com     1  jrry89
2          新浪博客     0     NaN
3          新浪博客     0     NaN
4    金立大金钢2 全面屏     1    情迷意恋

                                                 原文本    原转发数   原评论数  原点赞数  \
0                                                NaN     NaN    NaN   NaN
1  转基因公司正在利用基因编辑技术开发农作物试图规避监管，去年美国农业部批准了用CRISPR开发...   721.0  325.0  26.0
2                                                NaN     NaN    NaN   NaN
3                                                NaN     NaN    NaN   NaN
4                                袁隆平眼中的转基因 情迷意恋的秒拍视频  1337.0  638.0  55.0

                                             微博原html
0  <div class="c" id="M_FCp8SbTvT"><div><a class=...
1  <div class="c" id="M_FCp88bd6m"><div><a class=...
2  <div class="c" id="M_FCp7Q7H9v"><div><a class=...
3  <div class="c" id="M_FCp5YgHkP"><div><a class=...
4  <div class="c" id="M_FCp5QfVls"><div><a class=...

[5 rows x 24 columns]

In [10]:
df.head()

,weibo_id,用户地址,昵称,性别,地域,粉丝数,微博数,关注数,div1,div2,...,点赞数,时间,来源,是否转发,原昵称,原文本,原转发数,原评论数,原点赞数,微博原html
0,M_FCp8SbTvT,https://weibo.cn/u/3892115560,遇见最最最美的你,男,北京,1200,25,180,遇见最最最美的你:我免费围观了 @黄章晋ster 的回答，问题价值 200.00 元，快来一...,NaN,...,0,01月01日 23:59,微博 weibo.com,0,NaN,NaN,NaN,NaN,NaN,"<div class=""c"" id=""M_FCp8SbTvT""><div><a class=..."
1,M_FCp88bd6m,https://weibo.cn/u/2286141320,姐反转咋的,女,其他,18678,374,3287,姐反转咋的?转发了?jrry89?的微博:转基因公司正在利用基因编辑技术开发农作物试图规避监...,转发理由:这种“攻击”是该多晒晒。[嘻嘻]//@多多d617: 晒！//@陈一文顾问 诚请@...,...,1,01月01日 23:57,微博 weibo.com,1,jrry89,转基因公司正在利用基因编辑技术开发农作物试图规避监管，去年美国农业部批准了用CRISPR开发...,721.0,325.0,26.0,"<div class=""c"" id=""M_FCp88bd6m""><div><a class=..."
2,M_FCp7Q7H9v,https://weibo.cn/u/2177833830,小行星语林,男,河北,17852,137,129,小行星语林:发表了博文《【转】科普贴：抗虫转基因作物有多毒？》科普贴：抗虫转基因作物有多毒？...,NaN,...,0,01月01日 23:56,新浪博客,0,NaN,NaN,NaN,NaN,NaN,"<div class=""c"" id=""M_FCp7Q7H9v""><div><a class=..."
3,M_FCp5YgHkP,https://weibo.cn/u/2177833830,小行星语林,男,河北,17852,137,129,小行星语林:发表了一篇转载博文《[转载]作家静渊:血淋淋的死亡事件揭穿了转基因不用农药的弥天...,NaN,...,0,01月01日 23:52,新浪博客,0,NaN,NaN,NaN,NaN,NaN,"<div class=""c"" id=""M_FCp5YgHkP""><div><a class=..."
4,M_FCp5QfVls,https://weibo.cn/u/5545139597,秦岭山如画,男,澳门,8077,359,1151,秦岭山如画?转发了?情迷意恋?的微博:袁隆平眼中的转基因 情迷意恋的秒拍视频 ??赞[55]...,转发理由:外国资本利益集团看家护院的打手，美国人正眼都不看它们一眼的[嘻嘻][握手]//@毛...,...,0,01月01日 23:51,金立大金钢2 全面屏,1,情迷意恋,袁隆平眼中的转基因 情迷意恋的秒拍视频,1337.0,638.0,55.0,"<div class=""c"" id=""M_FCp5QfVls""><div><a class=..."

In [11]:
#pandas.read_excel
df = pd.read_excel("GMO dataset.xlsx")
# print (df)
print (df.head())

      weibo_id                           用户地址        昵称 性别  地域    粉丝数  微博数  \
0  M_FCp8SbTvT  https://weibo.cn/u/3892115560  遇见最最最美的你  男  北京   1200   25
1  M_FCp88bd6m  https://weibo.cn/u/2286141320     姐反转咋的  女  其他  18678  374
2  M_FCp7Q7H9v  https://weibo.cn/u/2177833830     小行星语林  男  河北  17852  137
3  M_FCp5YgHkP  https://weibo.cn/u/2177833830     小行星语林  男  河北  17852  137
4  M_FCp5QfVls  https://weibo.cn/u/5545139597     秦岭山如画  男  澳门   8077  359

    关注数                                               div1  \
0   180  遇见最最最美的你:我免费围观了 @黄章晋ster 的回答，问题价值 200.00 元，快来一...
1  3287  姐反转咋的?转发了?jrry89?的微博:转基因公司正在利用基因编辑技术开发农作物试图规避监...
2   129  小行星语林:发表了博文《【转】科普贴：抗虫转基因作物有多毒？》科普贴：抗虫转基因作物有多毒？...
3   129  小行星语林:发表了一篇转载博文《[转载]作家静渊:血淋淋的死亡事件揭穿了转基因不用农药的弥天...
4  1151  秦岭山如画?转发了?情迷意恋?的微博:袁隆平眼中的转基因 情迷意恋的秒拍视频 ??赞[55]...

                                                div2  \
0                                                NaN
1  转发理由:这种“攻击”是该多晒晒。[嘻嘻]//@多多d617: 晒！//@陈一文顾问 诚请@...
2                                                NaN
3                                                NaN
4  转发理由:外国资本利益集团看家护院的打手，美国人正眼都不看它们一眼的[嘻嘻][握手]//@毛...

                         ...                          点赞数            时间  \
0                        ...                            0  01月01日 23:59
1                        ...                            1  01月01日 23:57
2                        ...                            0  01月01日 23:56
3                        ...                            0  01月01日 23:52
4                        ...                            0  01月01日 23:51

             来源  是否转发     原昵称  \
0  微博 weibo.com     0     NaN
1  微博 weibo.com     1  jrry89
2          新浪博客     0     NaN
3          新浪博客     0     NaN
4    金立大金钢2 全面屏     1    情迷意恋

                                                 原文本    原转发数   原评论数  原点赞数  \
0                                                NaN     NaN    NaN   NaN
1  转基因公司正在利用基因编辑技术开发农作物试图规避监管，去年美国农业部批准了用CRISPR开发...   721.0  325.0  26.0
2                                                NaN     NaN    NaN   NaN
3                                                NaN     NaN    NaN   NaN
4                                袁隆平眼中的转基因 情迷意恋的秒拍视频  1337.0  638.0  55.0

                                             微博原html
0  <div class="c" id="M_FCp8SbTvT"><div><a class=...
1  <div class="c" id="M_FCp88bd6m"><div><a class=...
2  <div class="c" id="M_FCp7Q7H9v"><div><a class=...
3  <div class="c" id="M_FCp5YgHkP"><div><a class=...
4  <div class="c" id="M_FCp5QfVls"><div><a class=...

[5 rows x 24 columns]

In [12]:
df.head()

,weibo_id,用户地址,昵称,性别,地域,粉丝数,微博数,关注数,div1,div2,...,点赞数,时间,来源,是否转发,原昵称,原文本,原转发数,原评论数,原点赞数,微博原html
0,M_FCp8SbTvT,https://weibo.cn/u/3892115560,遇见最最最美的你,男,北京,1200,25,180,遇见最最最美的你:我免费围观了 @黄章晋ster 的回答，问题价值 200.00 元，快来一...,NaN,...,0,01月01日 23:59,微博 weibo.com,0,NaN,NaN,NaN,NaN,NaN,"<div class=""c"" id=""M_FCp8SbTvT""><div><a class=..."
1,M_FCp88bd6m,https://weibo.cn/u/2286141320,姐反转咋的,女,其他,18678,374,3287,姐反转咋的?转发了?jrry89?的微博:转基因公司正在利用基因编辑技术开发农作物试图规避监...,转发理由:这种“攻击”是该多晒晒。[嘻嘻]//@多多d617: 晒！//@陈一文顾问 诚请@...,...,1,01月01日 23:57,微博 weibo.com,1,jrry89,转基因公司正在利用基因编辑技术开发农作物试图规避监管，去年美国农业部批准了用CRISPR开发...,721.0,325.0,26.0,"<div class=""c"" id=""M_FCp88bd6m""><div><a class=..."
2,M_FCp7Q7H9v,https://weibo.cn/u/2177833830,小行星语林,男,河北,17852,137,129,小行星语林:发表了博文《【转】科普贴：抗虫转基因作物有多毒？》科普贴：抗虫转基因作物有多毒？...,NaN,...,0,01月01日 23:56,新浪博客,0,NaN,NaN,NaN,NaN,NaN,"<div class=""c"" id=""M_FCp7Q7H9v""><div><a class=..."
3,M_FCp5YgHkP,https://weibo.cn/u/2177833830,小行星语林,男,河北,17852,137,129,小行星语林:发表了一篇转载博文《[转载]作家静渊:血淋淋的死亡事件揭穿了转基因不用农药的弥天...,NaN,...,0,01月01日 23:52,新浪博客,0,NaN,NaN,NaN,NaN,NaN,"<div class=""c"" id=""M_FCp5YgHkP""><div><a class=..."
4,M_FCp5QfVls,https://weibo.cn/u/5545139597,秦岭山如画,男,澳门,8077,359,1151,秦岭山如画?转发了?情迷意恋?的微博:袁隆平眼中的转基因 情迷意恋的秒拍视频 ??赞[55]...,转发理由:外国资本利益集团看家护院的打手，美国人正眼都不看它们一眼的[嘻嘻][握手]//@毛...,...,0,01月01日 23:51,金立大金钢2 全面屏,1,情迷意恋,袁隆平眼中的转基因 情迷意恋的秒拍视频,1337.0,638.0,55.0,"<div class=""c"" id=""M_FCp5QfVls""><div><a class=..."

In [13]:
#DataFrame.to_csv
df.to_csv("New.csv")

In [14]:
#DataFrame.to_excel
df.to_excel("New.xls")

In [15]:
#Create a DataFrame from a dictionary of lists and specify the column order
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'],
'year': [2000, 2001, 2002, 2001, 2002],
'pop': [1.5, 1.7, 3.6, 2.4, 2.9]}
df = pd.DataFrame(data)
print (df)
df.columns =  ["year", "pop", "state"]
print (df)

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
     year   pop  state
0    Ohio  2000    1.5
1    Ohio  2001    1.7
2    Ohio  2002    3.6
3  Nevada  2001    2.4
4  Nevada  2002    2.9

In [16]:
#Create a DataFrame from a dictionary of lists and specify the row index
print (df)
df.index =  ["one", "two", "three", "four","five"]
print (df)

     year   pop  state
0    Ohio  2000    1.5
1    Ohio  2001    1.7
2    Ohio  2002    3.6
3  Nevada  2001    2.4
4  Nevada  2002    2.9
         year   pop  state
one      Ohio  2000    1.5
two      Ohio  2001    1.7
three    Ohio  2002    3.6
four   Nevada  2001    2.4
five   Nevada  2002    2.9

In [18]:
#Read the shape of a DataFrame: (num of rows, num of columns)
print (df.shape)

(5, 3)

In [19]:
#Read the variables (column titles)
print (df.columns)

Index(['year', 'pop', 'state'], dtype='object')

In [20]:
#Read a column of a DataFrame
Column1 = df["state"]
Column2 = df.state
print (Column1)
print (Column2)

one      1.5
two      1.7
three    3.6
four     2.4
five     2.9
Name: state, dtype: float64
one      1.5
two      1.7
three    3.6
four     2.4
five     2.9
Name: state, dtype: float64

In [21]:
# Assign a column with a list or a value
print(df)
df["state"] = [0,1,2,3,4]
print(df)
df["state"] = 100
print(df)

         year   pop  state
one      Ohio  2000    1.5
two      Ohio  2001    1.7
three    Ohio  2002    3.6
four   Nevada  2001    2.4
five   Nevada  2002    2.9
         year   pop  state
one      Ohio  2000      0
two      Ohio  2001      1
three    Ohio  2002      2
four   Nevada  2001      3
five   Nevada  2002      4
         year   pop  state
one      Ohio  2000    100
two      Ohio  2001    100
three    Ohio  2002    100
four   Nevada  2001    100
five   Nevada  2002    100

In [22]:
#Read the index (row titles)
print (df.index)

Index(['one', 'two', 'three', 'four', 'five'], dtype='object')

In [23]:
#Read a row of a DataFrame
Row1 = df.loc["one"]
print (Row1)
Row2 = df.iloc[0]
print (Row2)

year     Ohio
pop      2000
state     100
Name: one, dtype: object
year     Ohio
pop      2000
state     100
Name: one, dtype: object

In [24]:
#Assign a row with a list or a value
print (df)
df.loc["one"] = [0,1,2]
print(df)
df.loc["one"] = 100
print(df)

         year   pop  state
one      Ohio  2000    100
two      Ohio  2001    100
three    Ohio  2002    100
four   Nevada  2001    100
five   Nevada  2002    100
         year   pop  state
one         0     1      2
two      Ohio  2001    100
three    Ohio  2002    100
four   Nevada  2001    100
five   Nevada  2002    100
         year   pop  state
one       100   100    100
two      Ohio  2001    100
three    Ohio  2002    100
four   Nevada  2001    100
five   Nevada  2002    100

In [26]:
# Transpose a DataFrame
print (df.T)

       one   two three    four    five
year   100  Ohio  Ohio  Nevada  Nevada
pop    100  2001  2002    2001    2002
state  100   100   100     100     100

Python slice:<br />
https://www.cnblogs.com/cedrelaliu/p/6004352.html

In [27]:
print(df)
print()
# df.loc[row_name, column_name]
print(df.loc["one","year":"pop"])
print()

         year   pop  state
one       100   100    100
two      Ohio  2001    100
three    Ohio  2002    100
four   Nevada  2001    100
five   Nevada  2002    100

year    100
pop     100
Name: one, dtype: object

In [28]:
# Select columns directly
print(df.loc[:,"year":"pop"])

         year   pop
one       100   100
two      Ohio  2001
three    Ohio  2002
four   Nevada  2001
five   Nevada  2002

In [29]:
# Select rows directly
print(df)
print ()
print(df.loc[["one","three"],:])
print ()

         year   pop  state
one       100   100    100
two      Ohio  2001    100
three    Ohio  2002    100
four   Nevada  2001    100
five   Nevada  2002    100

       year   pop  state
one     100   100    100
three  Ohio  2002    100

       year   pop  state
two    Ohio  2001    100
three  Ohio  2002    100

In [30]:
# Select rows by specifying a value of a column
print(df)
print()
row_conditions = df.loc[:, "pop"] == 2001
print (df.loc[row_conditions, :])

         year   pop  state
one       100   100    100
two      Ohio  2001    100
three    Ohio  2002    100
four   Nevada  2001    100
five   Nevada  2002    100

        year   pop  state
two     Ohio  2001    100
four  Nevada  2001    100

In [31]:
# Select rows by specifying a value interval of a column
print(df)
print ()
row_conditions = df.loc[:, "pop"] >= 2001
print (df.loc[row_conditions, :])

         year   pop  state
one       100   100    100
two      Ohio  2001    100
three    Ohio  2002    100
four   Nevada  2001    100
five   Nevada  2002    100

         year   pop  state
two      Ohio  2001    100
three    Ohio  2002    100
four   Nevada  2001    100
five   Nevada  2002    100

<p>**3. Procedures:**<p>

In [33]:
#Sequential
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'],
'year': [2000, 2001, 2002, 2001, 2002],
'pop': [1.5, 1.7, 3.6, 2.4, 2.9]}
#1 
df = pd.DataFrame(data)
print ("1")
#2 
df = pd.DataFrame(data).loc[0:3]
print ("2")
#3
df = pd.DataFrame(data).loc[0:1]
print ("3")

1
2
3

In [34]:
#Conditional, If-else
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'],
'year': [2000, 2001, 2002, 2001, 2002],
'pop': [1.5, 1.7, 3.6, 2.4, 2.9]}
#1 
df = pd.DataFrame(data)
print (df.shape)
print ("1")
if df.shape[0] < 4:
#2    
    df = pd.DataFrame(data).loc[0:3]
    print ("2")
else:
#3
    df = pd.DataFrame(data).loc[0:1]
    print ("3")

(5, 3)
1
3

In [35]:
#iterative, for
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'],
'year': [2000, 2001, 2002, 2001, 2002],
'pop': [1.5, 1.7, 3.6, 2.4, 2.9]}
#1
df = pd.DataFrame(data)
print (df)
print ("1")

for item in df["state"]:
#2,3,4,5,……
    print (item)
    print

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
1
Ohio
Ohio
Ohio
Nevada
Nevada

In [36]:
df

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9

In [38]:
for i in df.index:
    print(i)

0
1
2
3
4

In [41]:
for i in df.index:
    print(df.loc[i,:])

state    Ohio
year     2000
pop       1.5
Name: 0, dtype: object
state    Ohio
year     2001
pop       1.7
Name: 1, dtype: object
state    Ohio
year     2002
pop       3.6
Name: 2, dtype: object
state    Nevada
year       2001
pop         2.4
Name: 3, dtype: object
state    Nevada
year       2002
pop         2.9
Name: 4, dtype: object

In [42]:
for i in df.index:
    print(df.iloc[i,:])

state    Ohio
year     2000
pop       1.5
Name: 0, dtype: object
state    Ohio
year     2001
pop       1.7
Name: 1, dtype: object
state    Ohio
year     2002
pop       3.6
Name: 2, dtype: object
state    Nevada
year       2001
pop         2.4
Name: 3, dtype: object
state    Nevada
year       2002
pop         2.9
Name: 4, dtype: object

In [45]:
df = pd.read_csv("GMO dataset.csv")
print (df)

      weibo_id                           用户地址        昵称 性别   地域    粉丝数  微博数  \
0  M_FCp8SbTvT  https://weibo.cn/u/3892115560  遇见最最最美的你  男   北京   1200   25
1  M_FCp88bd6m  https://weibo.cn/u/2286141320     姐反转咋的  女   其他  18678  374
2  M_FCp7Q7H9v  https://weibo.cn/u/2177833830     小行星语林  男   河北  17852  137
3  M_FCp5YgHkP  https://weibo.cn/u/2177833830     小行星语林  男   河北  17852  137
4  M_FCp5QfVls  https://weibo.cn/u/5545139597     秦岭山如画  男   澳门   8077  359
5  M_FCp343dCJ  https://weibo.cn/u/2177833830     小行星语林  男   河北  17852  137
6  M_FCp1TBQhb         https://weibo.cn/flust      五界之中  男  内蒙古    810  440
7  M_FCoWd6XfQ  https://weibo.cn/u/2753568401   删不掉的沉醉0  男   贵州   2233  681
8  M_FCoVdEah5  https://weibo.cn/u/5545139597     秦岭山如画  男   澳门   8077  359
9  M_FCoUY22MB  https://weibo.cn/u/3108402597       Q陈秀  男   新疆   2979  734

    关注数                                               div1  \
0   180  遇见最最最美的你:我免费围观了 @黄章晋ster 的回答，问题价值 200.00 元，快来一...
1  3287  姐反转咋的?转发了?jrry89?的微博:转基因公司正在利用基因编辑技术开发农作物试图规避监...
2   129  小行星语林:发表了博文《【转】科普贴：抗虫转基因作物有多毒？》科普贴：抗虫转基因作物有多毒？...
3   129  小行星语林:发表了一篇转载博文《[转载]作家静渊:血淋淋的死亡事件揭穿了转基因不用农药的弥天...
4  1151  秦岭山如画?转发了?情迷意恋?的微博:袁隆平眼中的转基因 情迷意恋的秒拍视频 ??赞[55]...
5   129  小行星语林:陈增煜：致《中国青年报》社有关人员 转基因根本没有问题吗 - 网友杂谈 - 红歌...
6   347  五界之中:我免费围观了 @松鼠云无心 的回答，问题价值 99.00 元，快来一起免费围观~ ...
7   266  删不掉的沉醉0:”、猫胡疑的回头望了望老虎:“咋有这么强壮的猫。转基因的吧 ??赞[0]?转...
8  1151  秦岭山如画?转发了?情迷意恋?的微博:袁隆平眼中的转基因 情迷意恋的秒拍视频 ??赞[55]...
9   261  Q陈秀:转基因的吧：猫胡疑的回头望了望老虎:“咋有这么强壮的猫：”；?可能我只是你生命里的一...

                                                div2  \
0                                                NaN
1  转发理由:这种“攻击”是该多晒晒。[嘻嘻]//@多多d617: 晒！//@陈一文顾问 诚请@...
2                                                NaN
3                                                NaN
4  转发理由:外国资本利益集团看家护院的打手，美国人正眼都不看它们一眼的[嘻嘻][握手]//@毛...
5                                                NaN
6                                                NaN
7                                                NaN
8  转发理由:都是些为利益不惜用13亿人当小白鼠搞试验的牺牲品。//@毛祖培Q:他们的手下，都是...
9                                                NaN

                         ...                          点赞数            时间  \
0                        ...                            0  01月01日 23:59
1                        ...                            1  01月01日 23:57
2                        ...                            0  01月01日 23:56
3                        ...                            0  01月01日 23:52
4                        ...                            0  01月01日 23:51
5                        ...                            0  01月01日 23:45
6                        ...                            0  01月01日 23:42
7                        ...                            0  01月01日 23:28
8                        ...                            0  01月01日 23:25
9                        ...                            0  01月01日 23:25

             来源  是否转发     原昵称  \
0  微博 weibo.com     0     NaN
1  微博 weibo.com     1  jrry89
2          新浪博客     0     NaN
3          新浪博客     0     NaN
4    金立大金钢2 全面屏     1    情迷意恋
5          百度分享     0     NaN
6  微博 weibo.com     0     NaN
7     iPhone客户端     0     NaN
8    金立大金钢2 全面屏     1    情迷意恋
9     iPhone客户端     0     NaN

                                                 原文本    原转发数   原评论数  原点赞数  \
0                                                NaN     NaN    NaN   NaN
1  转基因公司正在利用基因编辑技术开发农作物试图规避监管，去年美国农业部批准了用CRISPR开发...   721.0  325.0  26.0
2                                                NaN     NaN    NaN   NaN
3                                                NaN     NaN    NaN   NaN
4                                袁隆平眼中的转基因 情迷意恋的秒拍视频  1337.0  638.0  55.0
5                                                NaN     NaN    NaN   NaN
6                                                NaN     NaN    NaN   NaN
7                                                NaN     NaN    NaN   NaN
8                                袁隆平眼中的转基因 情迷意恋的秒拍视频  1337.0  638.0  55.0
9                                                NaN     NaN    NaN   NaN

                                             微博原html
0  <div class="c" id="M_FCp8SbTvT"><div><a class=...
1  <div class="c" id="M_FCp88bd6m"><div><a class=...
2  <div class="c" id="M_FCp7Q7H9v"><div><a class=...
3  <div class="c" id="M_FCp5YgHkP"><div><a class=...
4  <div class="c" id="M_FCp5QfVls"><div><a class=...
5  <div class="c" id="M_FCp343dCJ"><div><a class=...
6  <div class="c" id="M_FCp1TBQhb"><div><a class=...
7  <div class="c" id="M_FCoWd6XfQ"><div><a class=...
8  <div class="c" id="M_FCoVdEah5"><div><a class=...
9  <div class="c" id="M_FCoUY22MB"><div><a class=...

[10 rows x 24 columns]

In [51]:
for item in df["粉丝数"]:
    if item < 2000 and item > 500:
        print (item)

1200
810