# Python Programming 1

0.Anaconda Installation


https://www.anaconda.com/download/
--- choose Python 3.x(Many libraries such as pandas will no longer support Python 2 in 2 or 3 years)

1.constants

a.Number:int

Int (Integer): no decimals

In [2]:
3

3

type()--- to verify the type of object in Python

In [3]:
type(3)

int

b.Number:float

Float: has decimals

In [4]:
3.5

3.5

In [5]:
type(3.5)

float

c.Bool: True or False

In [6]:
True

True

In [7]:
False

False

In [8]:
type(True)

bool

d.String

String literals in python are surrounded by either single quotation marks( ’string‘ ), or double quotation marks( “string” ).

In [11]:
'this is a string'

'this is a string'

In [12]:
"this is a string"

'this is a string'

In [13]:
type('this is a string')

str

2.Varibles

a.assign constants to varibles

In [14]:
# int varibles
#  "#" is the comment mark 
a = 1
b = 2

In [21]:
type(a)

int

In [15]:
a+b

3

In [16]:
c=6
d=7

In [17]:
c-d

-1

In [18]:
#Two ways for printing outputs
a+b

3

In [19]:
print(a+b)

3

Rules of naming varibles<br />
<br />
A variable name must start with a letter(a-z, A-Z) or the underscore character(_) <br />
A variable name cannot start with a number<br />
A variable name can only contain alpha-numeric characters and underscores (a-z, A-Z, 0-9, and _ )<br />
Variable names are case-sensitive (age, Age and AGE are three different variables)<br />

In [3]:
# varibles with invalid syntax
3a = 1

SyntaxError: invalid syntax (<ipython-input-3-f923eaac39e7>, line 2)

In [5]:
# varibles with invalid syntax
a?2 = 1

SyntaxError: invalid syntax (<ipython-input-5-9dbdabbca6e9>, line 2)

In [4]:
>huihuogou=1

SyntaxError: invalid syntax (<ipython-input-4-d44de56ce344>, line 1)

In [22]:
# float varibles
b = 1.11

In [23]:
type(b)

float

In [25]:
# int + float = float
c = 1
print(b+c)
print(type(b+c))

2.1100000000000003
<class 'float'>

In [26]:
# string variables
a = 'This is python'
b = "This is python"
print(type(a))
print(type(b))

<class 'str'>
<class 'str'>

In [27]:
# Chinese string
c='欢迎'
print(c)

欢迎

Some useful methods:<br />
<br />
string1 + string2: string concatenation<br />
strip() : remove whitespace from beginning or end of the string<br />
len() : return length of the string<br />
lower() / upper() : return the string in lower / upper case<br />
 replace() : replace a string to another new string<br />
split() : split a string to several sub-strings.You can specify the separator, default separator is any whitespace.<br />

In [28]:
#String Concatenation
a + ' ' + b

'This is python This is python'

In [29]:
a+b

'This is pythonThis is python'

In [31]:
a = '                This is python                     '
print(a)

# strip()
print(a.strip())

                This is python
This is python

In [32]:
a = '              This is python                  '
b = 'This is python'
# len()
print(len(a))
print(len(b))

46
14

In [33]:
a = ' This is python   '
# lower case
print(a.lower())
# upper case
print(a.upper())

 this is python
 THIS IS PYTHON

In [34]:
a = ' This is python   '
# replace
print(a.replace('This','What'))

 What is python

In [36]:
a = 'this is python'
# default separator
b=a.split()
print(b)
# assign "i" as the separator
c=a.split('i')
print(c)

['this', 'is', 'python']
['th', 's ', 's python']

Operators are used to perform operations on variables and values.

In [15]:
# Python Operators
# Arithmetic Operators
a = 1
b = 2
# addition
print(a+b)
# Subtraction
print(a-b)
# Multiplication
print(a*b)
# Division
print(a/b)

3
-1
2
0.5

In [16]:
# Assignment Operators
a = 5
a += 1
print(a)

6

In [17]:
a = 5
a -= 1
print(a)

4

In [18]:
a = 5
a *= 2
print(a)

10

In [19]:
a = 5
a /= 2
print(a)

2.5

In [20]:
# Comparison Operators
a = 1
print(a == 2)
print(a != 2)
print(a > 0)
print(a < 0)
print(a >= 0)
print(a <= 0)

False
True
True
False
True
False

In [21]:
# Logical Operators
a = 1
b = 2
print(a == 2 and b == 2)
print(a == 2 or b == 2)
print(not(a == 2) and b == 2)

False
True
True

In [2]:
# Identity Operators
a = 'a'
b = 'a'
print(a is b)

True

Casting---Specify a Variable Type

In [23]:
# Casting
a = int(1.0)
print(type(a))
print(a)

<class 'int'>
1

In [24]:
b = str(1.0)
print(type(b))
print(b)

<class 'str'>
1.0

In [25]:
c = float(1)
print(type(c))
print(c)

<class 'float'>
1.0

In [26]:
d = int(1)
d_str = str(d)
print(type(d_str))
print(d_str)

<class 'str'>
1

Four useful data types:<br />
<br />
List: Ordered and changeable. Allows duplicate members.<br />
Tuple: Ordered and unchangeable. Allows duplicate members.<br />
Set: Unordered and unindexed. No duplicate members.<br />
Dictionaries: Unordered, changeable and indexed. No duplicate members.<br />

List: The most useful type<br />
<br />
lists are written with square brackets<br />
Each item has a index in list, start with 0,1,2…     such as list0[1] list1[0]<br />
append() : append a new item to list<br />
remove() : remove an item from list<br />
len() : return number of items in a list<br />

In [27]:
# list
list1 = ['apple', 'iphone', 123]
# index
print(list1[0])
# length
print(len(list1))
# append
list1.append('Jobs')
print(list1)
#remove
list1.remove(123)
print(list1)

apple
3
['apple', 'iphone', 123, 'Jobs']
['apple', 'iphone', 'Jobs']

tuples are written with round brackets.<br />
You can not change items in a tuple<br />
Tuple1 = (“apple”, ”iphone”, ”jobs”)<br />
Len() and index methods can be used in a tuple<br />

In [28]:
# tuple
tuple1 = ('apple','iphone',123)
print(tuple1[0])
print(len(tuple1))
tuple1.append('jobs')
print(tuple1)

apple
3

AttributeError: 'tuple' object has no attribute 'append'

sets are written with curly brackets<br />
Unordered, so items will show in a random order---can not use index<br />
Set1 = {‘apple’, ‘iphone’, ‘jobs’} or    set2 = set((‘apple’, ‘iphone’, ‘jobs’))<br />
Use add() to add a item into a set(not append()!)<br />
len(), remove() can be used in a set<br />

In [29]:
# set
set1 = set(('apple','iphone',123))
set2 = {'jobs','ipad'}
print(len(set1))
set1.add('jobs')
set2.remove('jobs')
print(set1)
print(set2)

3
{'jobs', 123, 'iphone', 'apple'}
{'ipad'}

In Python dictionaries are written with curly brackets, and they have index keys and values, each pair of key and value is separated by a comma”,”<br />
Change item values:   dict1[“apple”] = “company”<br />
Add a new item: use new index keys and assign a value to it: dict[“new”:”iphoneX”]<br />
Remove an item: del() (not remove()!):  del(dict1[“apple”])<br />
In a dictionary, value can nest other data types, such as list, dict,…<br />

In [30]:
# dictionary
dict1 = {
    "apple":"red",
    "banana":"yellow",
    "orange":"orange"
}
dict1["apple"] = "green"
print(dict1)
dict1["lemon"] = "yellow"
print(dict1)
del(dict1["apple"])
print(dict1)

{'apple': 'green', 'banana': 'yellow', 'orange': 'orange'}
{'apple': 'green', 'banana': 'yellow', 'orange': 'orange', 'lemon': 'yellow'}
{'banana': 'yellow', 'orange': 'orange', 'lemon': 'yellow'}

In [31]:
weibo_user_info = {
    "uid":['00001','00002','00003'],
    "user_name":['Jobs','Jack Ma','Pony Ma'],
    "age":[60,50,50],
    "nationality":['USA','Chinese','Chinese'],
    "tel":[12345678,23456789,56789012]
}

fb_user_info = {
    "uid":['00001','00002','00003'],
    "user_name":['Ali','Messi','Kane'],
    "age":[22,32,27],
    "nationality":['UK','Argentina','UK'],
    "tel":[12345678,23456789,56789012]
}

user_info = {
    "weibo":weibo_user_info,
    "facebook":fb_user_info
}


print(user_info)

{'weibo': {'uid': ['00001', '00002', '00003'], 'user_name': ['Jobs', 'Jack Ma', 'Pony Ma'], 'age': [60, 50, 50], 'nationality': ['USA', 'Chinese', 'Chinese'], 'tel': [12345678, 23456789, 56789012]}, 'facebook': {'uid': ['00001', '00002', '00003'], 'user_name': ['Ali', 'Messi', 'Kane'], 'age': [22, 32, 27], 'nationality': ['UK', 'Argentina', 'UK'], 'tel': [12345678, 23456789, 56789012]}}

Condition keywords:  if…elif…else<br />
Python relies on indentation, using whitespace, to define scope in the code. Each condition statements on new lines MUST use indentation<br />

In [32]:
# conditions
a = 1
b = 2
c = 3
if a+b==3 and c!=0:
    print("if")
elif a==0:
    print("elif")
else:
    print("else")

if

In [33]:
# conditions with out indentation will get an error
a = 1
b = 2
c = 3
if a+b==3 and c!=0:
print("if")
elif a==0:
print("elif")
else:
print("else")

IndentationError: expected an indented block (<ipython-input-33-2450cf59dd1e>, line 6)

A for loop is used for iterating over a sequence (that is either a list, a tuple or a string,...).<br />
With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.<br />
range() function is often used in for loops<br />

In [34]:
#for loop
list1 = ['weibo','facebook','wechat']
for x in list1:
    print(x)

weibo
facebook
wechat

In [37]:
#range
#  6 is not included in range(6)
for x in range(6):
    print(x)

0
1
2
3
4
5

A break can be used to stop loops before all the items has been looped through<br />
A continue can be used to stop current iteration loop and jump to next loop<br />

In [36]:
#break and continue
list1 = ['weibo','facebook','wechat']
for x in list1:
    if x =='wechat':
        break
    elif x =='facebook':
        continue
    else:
        print(x)

weibo

A function is a block of code which only runs when it is called.<br />
You can pass data, known as parameters, into a function, and return data as a result.<br />
Use def keyword to define a function<br />
Use the function name followed by parenthesis to call the function<br />

In [37]:
#function
def example_function(text):
    print (text + "is the parameter")
    return text

print(example_function("python"))

pythonis the parameter
python

In [38]:
# Default Parameter Value
def example2(text="python"):
    print(text)
    
# call with a parameter
example2("hello world")
# call with out parameter
example2()

hello world
python

Try to write a function “f1”,<br />
Including two parameters: <br />
“li” for passing a list to ”f1”<br />
“le” for passing a number to “f1”<br />
 For each item in the list “li”, <br />
if the item is None or ‘’, please print a warning: “the item is None or ‘’!”<br />
if the number of words in the item is greater than “le, please print the item in uppercase; <br />
if the number of words in the item is less than or equal to ”le”, please print the item in lowercase;<br />

In [42]:
# In-class exercise
def fi(li,le):
    for item in li:  
        if item == None or item == '':
            print("the item is None or ''!")
        elif len(item.split(' '))  > le:
            print(item.upper())
        elif len(item.split(' ')) <= le:
            print(item.lower())

In [43]:
test_list = ['find a word','',None,'soRry','jobs','A','12','hello python','aK']
fi(test_list,2)

FIND A WORD
the item is None or ''!
the item is None or ''!
sorry
jobs
a
12
hello python
ak

File handling

In [39]:
# read file
f = open("demo.txt", "r") #if you do not have a file "demo.txt", please create it first at this .ipynb notebook's path
print(f.read())

overwrite the file!

”a”-append- add new content to the end of the file; If file does not exist, it will create a new file first<br />
“w”-write- overwrite any existing content! If file does not exist, it will create a new file first<br />

In [40]:
# write file
# append write
f = open("demo.txt", "a")
f.write("append new content into the file!")

f = open("demo.txt", "r")
print(f.read())

overwrite the file!append new content into the file!

In [41]:
# overwrite
f = open("demo.txt", "w")
f.write("overwrite the file!")

f = open("demo.txt", "r")
print(f.read())

overwrite the file!

# Python libraries

Python library is a collection of functions and methods that allows you to perform lots of actions without writing your own code.<br />
The Python Standard Library --- we can import them without downloading as long as we installed python<br />
Other third-party library --- we should download them first, then import them into our codes. If we use anaconda, a lot of libraries has already downloaded while installing!<br />
We can use “import” to import libraries into our codes, then call functions from libraries directly.<br />

There are several ways to import libraries<br />
Example:<br />
1.library A has a class B, and class B has a function C<br />
import A --- we imported the whole library directly<br />
<br />
2.if we want to call function C --- A.B.C<br />
import A as a --- we import A and give it a short name a<br />
<br />
3.if we want to call function C --- a.B.C<br />
from A import B --- we just import class B from library A
if we want to call function C --- B.C<br />
<br />

Frequently used Python libraries or packages:<br />
<br />
NLTK --- Natural Language Toolkit<br />
Numpy --- Fundamental package for scientific computing with Python<br />
Pandas --- Python Data Analysis Library<br />
scikit-learn --- Machine Learning in Python<br />
Jieba --- Python Chinese word segmentation module<br />
Seaborn --- Python Visualization package<br />
Gensim --- Topic Modeling<br />
…